@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat+Alternates:wght@100;400&family=Montserrat:wght@200;300;500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@200&display=swap');

* {
     font-family: 'Open Sans', sans-serif;
     margin: 0;
     padding: 0;
}

body {
     width: 100%;
     height: 100vh;
     font-size: 1rem;
     color: #fff;
     background-color: #0e0d21;
}

main {
     height: 100%;     
     display: flex;
     flex-direction: column;
     justify-content: center;
}

/* CONTENT AREA */

section {
     width: 90%;
     max-width: 1600px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10%;
     margin: 0 auto;
}

/* TITLE AND IMAGE */
.title-and-image {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.title-and-image h1 {
     color: #54d97a;
     font-size: 2.4rem;
}

.title-and-image figure {
     width: 50%;
     margin: 3rem 0 0 6rem;
}

/* CARD AREA */

.login-area { 
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.card {
     width: 400px;
     height: 100%;
     max-height: 550px;
     min-height: 480px;
     background-color: #1c1a3f;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 20px;
     border-radius: 20px;
     box-shadow: 0 0 10px 4px #00000047;
     box-sizing: border-box;
}

.card h3 {
     text-align: center;
     text-transform: uppercase;
     color: #54d97a;
     font-size: 2rem;
}

.login-area form, .login-area form label {
     display: flex;
     flex-direction: column;
}

.login-area form label {
     font-size: 0.9rem;
     font-weight: 600;
     text-transform: uppercase;  
}

.login-area form label input {
     color: #9a9a9a;
     font-size: 1rem;
     height: 35px;
     margin: 7px 0 15px 0px;
     padding: 10px;
     box-sizing: border-box;
     border: none;
     border-radius: 5px;
     background-color: #151432;
}

.login-area form label input::placeholder {
     font-size: 0.8rem;
}

.login-area form a, .login-area form a:visited {
     font-size: 0.9rem;
     color: #403d8e;
     text-decoration: none;
     transition: .3s;
}

.login-area form a:hover, .card span a:hover {
     color: #54d97a;
}

.login-area form button {
     font-size: 1.1rem;
     height: 35px;
     margin-top: 1.5rem;
     color: #d6d6d6;
     background-color: #3ca159;
     border: none;
     cursor: pointer;
}

.login-area form button:disabled {
     cursor: not-allowed;
}

.card span {
     text-align: center;
     font-size: 0.7rem;
}

.card span a {
     color: #3ca159;
     transition: .3s;
}

/* MEDIA QUERY */

@media (max-width: 1090px) {
     section {
          flex-direction: column;
          justify-content: center;
          gap: 0;
          box-sizing: border-box;
     }
     .title-and-image img {
          display: none;
     }
     .title-and-image h1 {
          max-width: 550px;
          text-align: center;
     }
     .card {
          width: 95%;
          margin: 0 auto;
     }
}

@media (max-width: 680px) {
     .title-and-image h1 {
          font-size: 1.7rem;
     }
     .card h3 {
          font-size: 1.8rem;
     }
}
